* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme-light {
  background-color: #fff;
  color: #333;
  border: 1px solid #333333;
}

.theme-dark {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}
